black  # Needed by mkdocstrings for formatting signatures
mike
mkdocs-ezglossary-plugin
mkdocs-exclude
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-material[imaging]
mkdocs-section-index
mkdocstrings[python]
properdocs

telnetlib-313-and-up; python_version >= '3.13'